:root {
    --color-primary: #067bc2;
    --color-secondary: #74c5e9;
    --color-warning: #f9fabb;
    --color-success: #62c370;
    --color-danger: #cc3363;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa;
}

.navbar,
.custom-navbar {
    background-color: var(--color-primary) !important;
    box-shadow: 0 4px 10px rgba(6, 123, 194, 0.3);
}

.navbar-brand {
    color: var(--color-warning) !important;
    font-weight: 900;
    text-transform: uppercase;
}


.btn-success,
.btn-primary {
    background-color: var(--color-success) !important;
    border-color: var(--color-success) !important;
    color: white !important;
    font-weight: 700;
}

.btn-success:hover,
.btn-primary:hover {
    background-color: #4da659 !important;
}

.btn-danger,
.text-danger {
    background-color: transparent;
    color: var(--color-danger) !important;
    border-color: var(--color-danger);
}

.btn-danger:hover {
    background-color: var(--color-danger) !important;
    color: white !important;
}

.nav-link.text-danger {
    color: var(--color-warning) !important;
}

.navbar .text-danger {
    color: var(--color-danger) !important;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.text-warning,
.btn-warning {
    color: var(--color-warning) !important;
}

.btn-warning {
    background-color: var(--color-warning) !important;
    color: #3D4B81 !important;
    border: none;
    font-weight: bold;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.rounded-circle {
    border: 3px solid var(--color-secondary) !important;
}


/* mouvement coeur  */
.heart-bounce {
    animation: bounce 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(0.6);
    }

    60% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}